# Checkpoints de Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Spark / Hadoop temporales
derby.log
metastore_db/
spark-warehouse/

# OS
.DS_Store
Thumbs.db
